.inputChat {
    width: 80%;
    border: 2px solid white;
    border-radius: 50px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

    & > button, input{
        border: none;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        outline: inherit;
    }
    
    &__reglage{
        border-right: 1px solid white;
        padding-right: 0.5rem;
    }
    
    &__send{
        border-left: 1px solid white;
        padding-left: 0.5rem;
    }

    & > input {
       width: 90%;
       height: 100%;
       padding-left: 0.5rem;
       padding-right: 0.5rem;
    }

    & > button {
        display: flex;
        justify-content: center;
        align-items: center;
        &.inputChat__reglage {
                border-right: 1px solid white;
                padding-right: 0.7rem;

                
        }
        &.inputChat__send {
            border-left: 1px solid white;
            padding-left: 0.7rem;
        }

        &:hover path{
            fill: #c2c9d6;
        }

        &:active path{
           fill: #1d1e20
        }
    }

}

.inputChat__reglage {
    border-right: 1px solid white;
    padding-right: 0.5rem;
}