.ChatBot {
  width:700px;
  max-width: 90%;
  height: 70%;
  border: 2px solid black;
  position: fixed;
  bottom: 2%;
  right: 5%;
  display: grid;
  grid-template-rows: 1fr 5fr 0.7fr;
  grid-template-columns: 1fr;
  grid-template-areas: "head"
                       "core"
                       "input";
  

  &__header {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

    &__CloseButton {
        position: absolute;
        right: 1rem;

        &>button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            outline: inherit;
      
              &:hover  path {
                fill: rgb(211, 4, 4);
              }

              &:active path {
                fill: #141414;
              }
          }
    }

    &__title {
        text-align: center;
    }
  }

  &__ZoneMessage{
    grid-area: core;
    display: flex;
    flex-direction: column;
    background-color: #05050585;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: scroll;
  }

  &__footer {
    grid-area: input;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05050585;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}
